@{
    ViewBag.Title = "Home Page";
}
<link href="../css/Style.css" rel="stylesheet" />

<div class="jumbotron">
    <h1>Destinos turísticos</h1>
    <p class="lead">La tierra posee destinos turísticos agradables para el humano debido a que todos tienen características muy distintas entre si.</p>
    <p><a href="../Destinos/Index" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

